

<div class="header">

        <a class="mybooks">My Books</a>
        <a routerLink="/home" class="home">Home</a>
        <a routerLink="/libros" class="libros">Libros</a>
        <a routerLink="/perfil" class="perfil">Perfil</a>
        <a routerLink="/login" class="login">Login</a>
        <a routerLink="/formulario" class="registro">Registro</a>
        <a routerLink="/añadirLibros" class="añadirLibros">Añadir Libros</a>
        <a routerLink="/modificarLibros" class="modificarLibros">Modificar Libros</a>
     
</div>

